[submodule "thrust"]
	path = thrust
	url = https://github.com/thrust/thrust.git
[submodule "xatlas"]
	path = xatlas
	url = https://github.com/jpcy/xatlas.git
[submodule "redner-dependencies"]
	path = redner-dependencies
	url = https://github.com/BachiLi/redner-dependencies
[submodule "Clp"]
	path = Clp
	url = https://github.com/coin-or/Clp.git
[submodule "CoinUtils"]
	path = CoinUtils
	url = https://github.com/coin-or/CoinUtils.git
